In [9]:
import pandas as pd
raw_data = {'Customer_ID': [1, 2, 2, 1],
            'Timestamp': ['2020-01-01 12:22','2020-01-05 10:22','2020-01-01 12:22','2020-02-19 19:00'],
            'Event': ['Called 1800','Visited Store','Called 1800','Paid Overdue Bill']
            }

df = pd.DataFrame(raw_data, columns = ['Customer_ID',  'Timestamp', 'Event'])

In [10]:
df

   Customer_ID         Timestamp              Event
0            1  2020-01-01 12:22        Called 1800
1            2  2020-01-05 10:22      Visited Store
2            2  2020-01-01 12:22        Called 1800
3            1  2020-02-19 19:00  Paid Overdue Bill

In [11]:
df.pivot(index='Customer_ID', columns='Event', values='Timestamp')

Event             Called 1800 Paid Overdue Bill     Visited Store
Customer_ID
1            2020-01-01 12:22  2020-02-19 19:00               NaN
2            2020-01-01 12:22               NaN  2020-01-05 10:22